<div>
  {{#each responseFromAPI}}

    <div>

      <img src='{{this.image_url}}' alt='' />
      <h1>{{this.name}}</h1>
      <h2>{{this.tagline}} </h2>
      <p>{{this.description}}</p>
      <h3> Food Pairing</h3>
      <ul>
        {{#each food_pairing}}
          <li>{{this}}</li>
        {{/each}}
      </ul>
      <p><strong>Brewers tip: </strong>{{this.brewers_tips}}</p>
    </div>
  {{/each}}
</div>